<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="RUNTIME" value="Info" />
	<variable name="GRAPHICS" value="Info" />
	<variable name="INPUT" value="Trace" />
	<variable name="APPLICATION" value="Info" />
	<variable name="CAMERA" value="Info" />
	<variable name="RESOURCES" value="Info" />
	<variable name="LOADING" value="Info" />
	<variable name="NAV" value="Trace" />
	<variable name="WORLD" value="Info" />
	<variable name="ENTITY" value="Info" />
	<variable name="CURSOR" value="Info" />
	<variable name="PHYSICS" value="Trace" />
	<variable name="[RENDERER]" value="Trace" />
    <targets>
        <target name="logfile" xsi:type="File" fileName="file.txt" />
        <target name="logconsole" xsi:type="Console" layout="[${level:uppercase=true}]${message} [${exception}|${logger}|${all-event-properties}]" />
		<target xsi:type="Debugger" name="debuglog" layout="[${level:uppercase=true}]${message} ${exception}|${logger}|${all-event-properties}" />
		<target name="asyncwrapper" xsi:type="AsyncWrapper">
			<target xsi:type="ColoredConsole" name="mainconsole"
			layout="[${level:uppercase=true}][${logger}]|${message} ${exception}|${all-event-properties}">
			<highlight-word text="[TRACE]" foregroundColor="DarkGray"/>
			<highlight-word text="[DEBUG]" foregroundColor="Gray"/>
            <highlight-word text="[INFO]" foregroundColor="Blue"/>
			<highlight-word text="[WARN]" foregroundColor="Yellow"/>
			</target>
		</target>
    </targets>

    <rules>
		<logger name="RUNTIME" minlevel="${RUNTIME}" writeTo="asyncwrapper" />
		<logger name="GRAPHICS" minlevel="${GRAPHICS}" writeTo="asyncwrapper" />
		<logger name="INPUT" minlevel="${INPUT}" writeTo="asyncwrapper" />
		<logger name="APPLICATION" minlevel="${APPLICATION}" writeTo="asyncwrapper" />
		<logger name="CAMERA" minlevel="${CAMERA}" writeTo="asyncwrapper" />
		<logger name="RESOURCES" minlevel="${RESOURCES}" writeTo="asyncwrapper" />
		<logger name="LOADING" minlevel="${LOADING}" writeTo="asyncwrapper" />
		<logger name="NAV" minlevel="${NAV}" writeTo="asyncwrapper" />
		<logger name="WORLD" minlevel="${WORLD}" writeTo="asyncwrapper" />
		<logger name="CURSOR" minlevel="${CURSOR}" writeTo="asyncwrapper" />
		<logger name="PHYSICS" minlevel="${PHYSICS}" writeTo="asyncwrapper" />
		<logger name="[RENDERER]" minlevel="${[RENDERER]}" writeTo="asyncwrapper" />
		<logger name="*" minlevel="Warn" writeTo="debuglog" />
    </rules>
</nlog>